// Add your custom CSS here.
  .rating__stars, .product-card__rating {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 125px;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
    margin-bottom: 10px;
  } 
  .rating__stars::before, .product-card__rating::before { 
    content: '★★★★★';
    opacity: .3;
  }
  .rating__stars::after, .product-card__rating::after {
    color: gold;
    content: '★★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top:0;
    width: 96.5%;
    overflow: hidden;
  }
@media (min-width: 576px)
.info-bar__item {
  font-weight: var(--font-light) !important;
  text-transform: uppercase !important;
  border: 1px solid rgb(0 0 0) !important;
  border-radius: 8px;
}
